@model IEnumerable<mvc_surfboard.Models.Surfboard>

@{
    ViewData["Title"] = "Catalog";
}

<div class="container">
    <h1>Catalog</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (!string.IsNullOrEmpty(item?.ImgUrl))
                    {
                        <img src="@item.ImgUrl" class="card-img-top" alt="Surfboard Image" />
                    }
                    else
                    {
                        <img src="placeholder-image-url" class="card-img-top" alt="No Image" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            Length: @item.Length<br />
                            Width: @item.Width<br />
                            Thickness: @item.Thickness<br />
                            Volume: @item.Volume<br />
                            Type: @item.Type<br />
                            Price: DKK @item.Price<br />
                            Equipment: @item.Equipment<br />
                        </p>
                        <a asp-action="Rent" asp-route-id="@item.Id">Rent</a> |
                    </div>
                </div>
            </div>
        }
    </div>
</div>
